<section class="page-header">
  <h1 class="project-name">
    {{ $.Site.Params.project_name | default "Cayman" }}
  </h1>
  <h2 class="project-tagline">
    {{ $.Site.Params.project_tagline | default "A responsive theme for your project on GitHub Pages" }}
  </h2>

  <a href="#" class="btn">View on GitHub</a>
  <a href="#" class="btn">Download .zip</a>
  <a href="#" class="btn">Download .tar.gz</a>

  <!-- TODO wrap w/ nav element -->
  {{ $current := . }}
  {{ range .Site.Menus.nav }}
    {{ $active := or ($current.IsMenuCurrent "nav" .) ($current.HasMenuCurrent "nav" .) }}
    {{ $active = or $active (eq .Name $current.Title) }}
    {{ $active = or $active (and (eq .Name "Blog") (eq $current.Section "post")) }}
    {{ $active = or $active (and (eq .Name "Tags") (eq $current.Section "tags")) }}
    <a href="{{ .URL }}" class="btn">{{ .Name }}</a>
  {{ end }}
</section>
